@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

.container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

#home,
#about,
#projects,
#skills,
#contact {
  scroll-snap-align: start;
}

.button-link {
  @apply px-4 py-2 w-full sm:w-fit rounded-full mr-4 bg-gradient-to-br from-blue-500 via-green-500 to-yellow-500 text-white inline-block text-center cursor-pointer;
}

.button-link:hover {
  @apply text-black;
}

/* footer {
  text-align: center;
  overflow: hidden;
  background-color: black;
  padding: .25rem;
  position: fixed;
  bottom: 0;
  height: 25px;
  width: 100%;
  z-index: 1000;
}

footer a {
  text-decoration: none;
} */